@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  /* --color-text: ;*/
  --color-background:#1f5e7c;
  --color-background-2:#609ea5;
  --color-background-3:#80d4c9;
  --color-button:#1caef5;
  --color-button-2:#526cfc;
  --color-text:#656565;

}

.header{
  width: 100%;
  background-color: transparent;
  display: flex;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  padding: 0 65px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.372);
  position: fixed;
  transition: all .6s,background-color 0s;
  z-index: 2;
}
.header.active{
  box-shadow: 0 0 5px black;
  background: var(--color-background-2);
}
.header .logo{
  display: flex;
  align-items: center;
  justify-content: start;
}
.header .logo i {
  transform: rotate(90deg);
  font-size: 35px;
  margin-right: 5px;
}
.header .logo h3{
  font-size: 30px;
  font-weight: 700;
}
.header ul{
  display: flex;
  justify-content: space-around;
  gap: 45px;
  list-style: none;
  margin-left: -25%;
  /* background-color: lightcoral; */
}
.header ul li{
  display: flex;
  align-items: center;
}
.header ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: .6s all;
}
.header ul li:hover a,
.header ul li:hover i{
  color: black;
}
.header ul li a.active{
  color: black;
}
.header ul i{
  font-size: 24px;
  color: white;
  transition: .6s all;
}
.header .user{
  background-color: white;
  padding: 6px 9px;
  border-radius: 50%;
}
.header .user i{
  font-size: 21px;
}

.main{
  /* background-color: lightblue; */
  /* padding-top: 75px; */
  height: 200vh;
  width: 100%;
}

.container{
}

.first-content-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: linear-gradient(11deg, var(--color-background), var(--color-background-3));
}
.first-content-box h1{
  color: white;
  font-size: 60px;
  font-weight: 600;
}
.first-content-box p{
  font-size: 20px;
  margin-bottom: 30px;
  background: transparent;
  color: rgb(59, 58, 58);
}

.first-content-box .input-box{
  display: flex;
  align-items: center;
  padding: 5px;
  width: 45%;
}
.first-content-box .input-box input{
  width: 100%;
  height: 65px;
  border-radius: 30px;
  border: none;
  padding: 0 155px 0 60px;
  font-size: 20px;
}
.first-content-box .input-box input::placeholder{
  font-size: 20px;
}
.first-content-box .input-box i
{
  position: absolute;
  margin-left: 30px;
  font-size: 24px;
  color: rgb(121, 119, 119);
}
.first-content-box .input-box button{
  cursor: pointer;
  position: absolute;
  margin-left: 45%;
  transform: translateX(-150px);
  color: white;
  width: 130px;
  height: 50px;
  background: linear-gradient(11deg, var(--color-background-2), var(--color-background-3));
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 35px;
  transition: .6s all;
  z-index: 1;
}
.first-content-box .input-box button:hover{
  background: linear-gradient(33deg, var(--color-background-2), var(--color-background-3));
}

.second-content-box{
  background-color: var(--color-background-3);
  display: flex;
  justify-content: center;
  height: 350px;
  align-items: center;
  gap: 20px;
  border-radius: 0 0  10vh 10vh;
}
.web-design{
  width: 320px;
  background-color: white;
  padding: 24px;
  border-radius: 18px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.367);
  margin-top: -180px;
  transition: all .6s;
}
.web-design:hover{
  margin-top: -200px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.367);
}
.web-design .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.web-design .head h3{
  font-weight: 600;
  font-size: 23px;
}
.web-design .head p{
  background-color:var(--color-button);
  padding: 2px 7px;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}
.web-design .body{
  margin-top: 5px;
}
.web-design .body p{
  color: var(--color-text);
}
.web-design .body img{
  margin-top: 5px;
  width: 100%;
}
.second-content-box .finance{
  background: url("../image/data.jpg");
  /* background: "image/data.jpg"; */
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.367);
  margin-top: -180px;
  border-radius: 18px;
  overflow: hidden;
}

.finance-content{
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 45%;
  height: 368px;
  max-width: 600px;
  background:linear-gradient(11deg,#1f5e7ce0,#80d4c9ba);
  width: 100%;
  opacity: 1;
}

.finance .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.finance .head h3{
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.finance .head p{
  background-color:var(--color-button-2);
  padding: 2px 7px;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}
.finance .body{
  margin-top: 5px;
  flex: 1;
}
.finance .body p{
  color: white;
}
.finance .body button{
  width: 120px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  margin-top: 30px;
  background: var(--color-background-3);
  color: white;
  font-size: 14px;
  padding: 10px;
  transition: .6s all;
}
.finance .body button:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
}
.finance .footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.finance .footer .left{
  display: flex;
  gap: 20px;
  align-items: center;
}
.finance .footer p{
  font-size: 24px;
  color: white;
}
.finance .footer a{
  padding: 7px 9px;
  border-radius: 50%;
  background-color: var(--color-background-3);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .6s;
}
.finance .footer a:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
}
.finance .footer i{
  font-size: 22px;
  color: white;
}
.finance .footer .right i{
  font-size:30px;
  opacity: .7;
}

.third-content-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* background-color: lightblue; */
  padding: 40px 0 70px 0;
}
.third-content-box .btns-category{
  /* background-color: lightcoral; */
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.058);
}
.third-content-box .btns-category button{
  width: 7%;
  min-width: 80px;
  max-width: 110px;
  background-color: transparent;
  border: none;
  padding: 7px 0;
  transition: .6s all;
  cursor: pointer;
}
.third-content-box .btns-category button.active ,
.third-content-box .btns-category button:hover{
  color: var(--color-button);
  border-bottom: 1px solid var(--color-button);
}
.third-content-box .pages{
  display: flex;
  gap: 40px;
  /* width: 300%; */
}
.third-content-box .design-page{
  background-color: seagreen;
  display: flex;
  gap: 20px;
  visibility: hidden;
}
.pages .web-design{
  margin: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.285);
}
.third-content-box .marketing-page{
 background-color: lightblue;
 display: flex;
 gap: 20px;
 visibility: hidden;
}
.third-content-box .finance-page{
 background-color: lightcoral;
 display: flex;
 gap: 20px;
}
.third-content-box .music-page{
 background-color: rebeccapurple;
 display: flex;
 gap: 20px;
}
.third-content-box .education-page{
 background-color: royalblue;
 display: flex;
 gap: 20px;
}
