
body{
  padding: 20px;
  padding-bottom: 1000px;
}
p{
  margin: 0;
}
*{
  font-family: arial;
}
/* 1. ul css */
ul{
  list-style: none;
  width: max-content;
  /* background-color: red; */
  padding: 12px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.269);
}
ul > div{
  margin-bottom: 8px;
  position: relative;
}
ul > div::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: black;
}
button{
  display: grid;
  width: 240px;
  grid-template-columns: 24px 1fr;
  column-gap: 5px;
  padding: 12px 24px;
  border: none;
}
.button-sidbar:hover p ,
.button-sidbar:hover i{
  color: aqua;
}
.icon{
  width: 24px;
  height: 24px;
  /* vertical-align: middle; */
  margin: auto;
}
.icon i {
  font-size: 24px;
  transition: all 0.15s;
}
.text  {
  /* background-color: red; */
  margin: auto;
  width: 100%;
  text-align: left;
}
.text p {
  font-size: 16px;
  font-weight: bold;
  transition: all 0.15s;
}


/* end ul css */

/* cards start code */
.card{
  width: 265px;
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.15s;
}
.card:hover{
  box-shadow: -6px 6px 0px black;
  margin: -6px 0px 0px 6px;
  /* margin-left: 15px; */
}
.card-title{
  padding: 0.5rem 0.7rem;
  border-radius: 5px 5px 0px 0px;
  background-color: #EAFDC6;
}
.card-content{
  margin-top: 0;
  padding: 0.7rem;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
}
.card-continer{
  min-height: 200px;
}
.card-continer h3 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 18px;
}
.card-continer span {
  font-size: 14px;
  line-height: 20px;
}
.card-foter{
  display: grid;
  grid-template-columns: 24px 1fr 65px;
  padding: 2px 0px;
  background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 4.5px 0.4px;
  background-repeat: repeat-x;
}
.card-foter i{
  font-size: 20px;
  vertical-align: middle;
  vertical-align: bottom;
}
.card-foter p{
  font-size: 13px;
  padding-top: 4px;
  vertical-align: middle;
}
/* end cards css */

/* code navbar */
.tool{
  margin-bottom: 50px;
}
.header{
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
  height: 70px;
  border: 1px solid black;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo a {
  display: flex;
}
.logo img {
  width: 90px;
  object-fit:contain;
  /* margin-right: 20px; */
}
.header ul{
  display: flex;
  justify-content: space-between;
  width: 600px;
  box-shadow: none;
}
/* end code navbar */